.login-form {
    &__container {
        height: 100vh;
    }
    &__block {
        padding: 10px;

        border-radius: .25rem;
        border: 1px solid #e2e2e2
    }

    .row {
        height: 100%;

        flex-direction: column;
        align-items: center;
    }

    input:disabled {
        opacity: 0.2;
    }
}